.demo-table {
  width: 100%;
}

.mat-column-id {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-name {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-description {
  font-style: italic;
}

.mat-column-created_At {
  text-align: center;
  font-weight: bold;
}

.mat-column-updated_At {
  text-align: center;
  font-weight: bold;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

th.mat-sort-header-sorted {
  color: black;
}

.create {
  background: rgb(0, 140, 255);
  margin-left: 10px;
  color: white
}

.update {
  background: rgb(5, 228, 5);
  margin-left: 10px;
}
