
header{
  background-color: rgb(13, 13, 112);
  color: white;
  padding: 10px;
  text-align: center;

}

.nav-tabs.nav-tabs-thick .nav-link {
  color: rgb(13, 13, 112) !important;
  font-family: times-new-roman;
  font-size: x-large;
  font-weight:bold;
}

/*
.mat-tab-group {
  background-color: #f0f0f0;
  border: 1px solid yellow;
  border-radius: 4px;
}

.mat-tab-label {
  min-width: auto;
  padding: 12px 20px;
  font-size: 16px;
}

.mat-tab-label-active {
  background-color: #007bff;
  color: #fff;
}

.mat-tab-label:hover {
  background-color: #ddd;
}

.mat-tab-link {
  text-decoration: none;
  color: inherit;
}

.mat-tab-link-active {
  font-weight: bold;
} */


/* sidenav css but again makes it look ugly */
/* .example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;

  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {

  flex: 1;
}

.example-is-mobile .example-sidenav-container {

  flex: 1 0 auto;
} */
