<!DOCTYPE html>
<html lang="en">
<header>
  <h1>Animal Adventure</h1>
</header>

<body>
  <ul class="nav nav-tabs nav-tabs-thick mb-3">
    <li class="nav-item">
      <a class="nav-link" [class.active]="isTabActive('/')" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="isTabActive('/create')" href="/create">Create</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="isTabActive('/update')" href="/update">Animals</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true"> </a>
      </li>
  </ul>

  <!-- Other angular tabs nav that doesn't look that good -->
  <!-- <mat-tab-group class="mat-tab-group mat-tab-group-thick">
    <mat-tab>
      <ng-template mat-tab-label>
        <a class="nav-link" [class.active]="isTabActive('/') " href="/">Home</a>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <a class="nav-link" [class.active]="isTabActive('/create')" href="/create">Create</a>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <a class="nav-link" [class.active]="isTabActive('/update')" href="/update">Animals</a>
      </ng-template>
    </mat-tab>
  </mat-tab-group> -->

  <!-- Tried to do sidenav in angular materials. Toggle doesn't work -->
  <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Responsive App</h1>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56">
        <mat-nav-list>
          @for (nav of fillerNav; track nav) {
          <a mat-list-item routerLink=".">{{nav}}</a>
          }
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        @for (content of fillerContent; track content) {
        <p>{{content}}</p>
        }
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

  <router-outlet></router-outlet>
</body>

</html>
